---
layout: default
---

<div class="pictureAndTextBox">
  <img id="profilePicture" src="/assets/imgs/MarkProfile.png" width="200" height="200"/>
  <p>Hello world, my name is Mark. I'm a recent graduate of Dartmouth College. I'm seeking full time employment as a software engineer. I'm currently working (not full time) for Dartmouth Hitchcock Medical Center as a Knack Developer in the Radiology department which involves me writing lots of JavaScript and doing programming with their database. I am very interested in computer graphics as well as machine learning/ai so I read about that in my free time and sometimes I create posts here in topics I'm interested in. Check out my blog! :)</p>
</div>
<h3>Recent Posts</h3>
{% include mostRecentPostLoop.html %}
