<ul>
  {% for blogEntry in site.posts %} <!-- Could be more efficient if able to do site.posts.{include.category} instead. With this solution it iterates over all posts 4 times. -->
    {% if blogEntry.category == include.category %}
      <li><a href="{{blogEntry.url}}">{{blogEntry.title}}</a></li>
      <p>{{ blogEntry.meta }}</p>
    {% endif %}
  {% endfor %}
</ul>
