<nav id="myNav">
  <ul id="myNavUl">
    <li><a href="{{base}}" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{base}}/blog/" class="{% if page.url == '/blog/' %}current{% endif %}">Blog</a></li>
    <li><a href="{{base}}/resume" class="{% if page.url == '/resume/' %}current{% endif %}">Resume</a></li>
    <li><a href="{{base}}/portfolio" class="{% if page.url == '/portfolio/' %}current{% endif %}">Portfolio</a></li>
    <li><a href="mailto:spserwinm@gmail.com">Contact</a></li>
  </ul>
</nav>
