/* Created by Mark Erwin 2017 */

/*
DEFINITIONS / IMPORTS
*/

@font-face { /* Sick new font that looks cool for titles and stuff */
    font-family: 'geosanslightregular';
    src: url('/assets/fonts/geo_sans_light/geosanslight-webfont.woff2') format('woff2'),
         url('/assets/fonts/geo_sans_light/geosanslight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
UNIVERSAL STYLINGS
*/

body {
  margin: 0em 12em 0em 12em;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #777;
  font-family: "geosanslightregular";
}

a {
  text-decoration: none;
  color: #06f;
  font-family: 'Ubuntu';
}

p {
  font-family: 'Ubuntu';
  line-height: 160%;
}

li {
  font-family: 'Ubuntu';
  line-height: 160%;
}

/*
CLASS SPECIFIC STYLINGS
*/

.current { /* Currently Selected menu item in nav bar*/
  background-color: #8d16b3;
  color: #ffffff;
}

.pictureAndTextBox {
  display: inline-flex;
}

.resumeDiv {
  display: inline-flex;
  margin-bottom: 20px;
}

.resumeDivTime {
  min-width: 200px;
  border-right: 1px solid black;
  text-align: right;
  padding-right: 15px;
}

.resumeDivDetail {
  margin-left: 20px;
}

.timeline li {
  list-style-type: none;
}

.portfolioDiv img {
  max-width: 200px;
  max-height: 200px;
}

.portfolioDiv {
  min-width: 175px;
  display: inline-flex;
  margin-bottom: 20px;
}

.portfolioImage {
  border-right: 1px solid black;
  padding-right: 15px;
  min-width: 200px;
  min-height: 200px;
}

.portfolioDetail {
  margin-left: 20px;
}

/*
ID SPECIFIC STYLINGS
*/

#profilePicture {
  width: 200px;
  border-radius: 100px;
  margin-right: 50px;
  -ms-interpolation-mode: bicubic
}

#myNav {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, purple, #06f); /* Standard syntax */
    width: 100%;
    display: block;
    outline: 2px solid black;
    transform: skew(-15deg);
}

#myNavUl {
  overflow: hidden;
  list-style-type: none;
}

#myNavUl li a {
  border-right: 1px solid #e7e7e7;
  float: left;
  display: block;
  color: #ccc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#myNavUl li a:hover {
  background-color: #06f;
}

#siteTitle {
  font-size: 3em;
  text-align: center;
}

#downloadResumeButton {
  border: 3px solid #000;
  color: white;
  padding: 14px 16px;
  background: linear-gradient(to right, purple, #06f);
}

#downloadResumeButton:hover {
  background: linear-gradient(to right, red, orange);
}

#resumeTitle {
  text-align: center;
}
