---
layout: default
---
<br>
<a id="downloadResumeButton" href="Erwin_Resume.pdf" download="MarkErwinResume.pdf">Download Resume</a>

<h1 id="resumeTitle">Mark Erwin</h1>
<p id="resumeTitle">markerwin.io &mdash; linkedin.com/in/markeerwin &mdash; spserwinm@gmail.com</p>
<hr>

<h3>Work Experience</h3>
<hr>
<section class="timeline">
  <li>
    <div class="resumeDiv">
      <div class="resumeDivTime">
        Feb 2017 - Present
      </div>
      <div class="resumeDivDetail">
        <span class="resumeDetailTitle">Knack Developer at Dartmouth Hitchcock Medical Center</span> <br>
        <p>While taking classes in the Spring term and doing research, I developed a system for the DHMC radiology department that automatically generates formatted curriculum vitaes using this online cloud database service called Knack. I integrated JavaScript with Knack in order to automatically generate the CVs. This was important because often CVs are ~20 pages long and super tedious to get all the formatting correct. However, with my system, that was no longer a worry. The only thing the users had to worry about was entering their data in correctly. Then I built out some features for the promotional committee at DHMC to make it easier to review all of their user's CVs.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="resumeDiv">
      <div class="resumeDivTime">
        Jan 2017 - June 2017
      </div>
      <div class="resumeDivDetail">
          <span class="resumeDetailTitle">Research Assistant at Dartmouth College</span> <br>
          <p>I worked with a postdoc to analyze smartwatch data. This was quite challenging as I had a week to learn to use R proficiently while taking classes. I was able to produce a series of plots of time series data after performing data wrangling with Java and then performing a series of clustering techniques in R. My work was useful because it allowed us to see the overall trends in smartwatch data so that we could begin testing the effectiveness of a new imputation algorithm. (Imputation: Fancy word for missing data in statistics)</p>
      </div>
    </div>
  </li>

  <li>
    <div class="resumeDiv">
      <div class="resumeDivTime">
        July 2016 - Aug 2016
      </div>
      <div class="resumeDivDetail">
        <span class="resumeDetailTitle">Language Counselor at Mori no Ike (森の池)</span> <br>
        <p>It's an overnight camp for middle school and high school aged children. Communication in Japanese was a necessity. I designed my own lesson plans which had 2 hours of content every day. I was also responsible for looking after the 12-14 year old boys. If I can do that without even using English, I can do anything.</p>
      </div>
  </li>
  <li>
    <div class="resumeDiv">
      <div class="resumeDivTime">
        Mar 2016 - Jun 2016
      </div>
      <div class="resumeDivDetail">
        <span class="resumeDetailTitle">COSC 050 &mdash; Software Design and Implementation Teaching Assistant at Dartmouth College Computer Science Department</span> <br>
        <p>I was responsible for grading student assignments, and holding weekly TA lectures to go over the weekly lab assignment. I taught the students, but I myself
        also learned a great deal from looking at how students solved the lab assignments.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="resumeDiv">
      <div class="resumeDivTime">
        Sep 2015 - Nov 2015
      </div>
      <div class="resumeDivDetail">
        <span class="resumeDetailTitle">COSC 001 &mdash; Intro to Computer Science Teaching Assistant at Dartmouth College Computer Science Department</span> <br>
        <p>I helped students during lab hours and also helped them during office hours. I had no experience with Python before this so I thoroughly studied Python the summer prior to this job in preparation.</p>
      </div>
    </div>
  </li>
</section>

<hr>
<h3>Education</h3>
<hr>
<section class="timeline">
  <li>
    <div class="resumeDiv">
      <div class="resumeDivTime">
        Sept 2013 - June 2017
      </div>
      <div class="resumeDivDetail">
        Dartmouth College, Hanover, NH<br>
        <b>GPA:</b> 3.20 / 4.00 <b>Major:</b> Computer Science </b>Minor:</b> Japanese
      </div>
    </div>
  </li>
  <li>
    <div class="resumeDiv">
      <div class="resumeDivTime">
        Sept 2009 - June 2013
      </div>
      <div class="resumeDivDetail">
        Somers High School, Somers, CT<br>
        <b>GPA:</b> 4.20 / 4.00, <b>Salutatorian</b>, Awards of Excellence in Algebra II, AP Stats, AP Calculus, Physics...
      </div>
    </div>
  </li>
</section>

<hr>
<h3>Computer Skills</h3>
<hr>
<section class="timeline">
  <li>
    <div class="resumeDiv">
      <div class="resumeDivTime">
        Proficient in
      </div>
      <div class="resumeDivDetail">
        Python, C, C++11, Java, JavaScript
      </div>
    </div>
  </li>
  <li>
    <div class="resumeDiv">
      <div class="resumeDivTime">
        Experience with
      </div>
      <div class="resumeDivDetail">
        Matlab, Ruby, CUDA, GLSL, C#
      </div>
    </div>
  </li>
  <li>
    <div class="resumeDiv">
      <div class="resumeDivTime">
        Technology
      </div>
      <div class="resumeDivDetail">
        Git, node.js, React, Redux, Linux, Mac
      </div>
    </div>
  </li>
</section>

<hr>
<h3>Languages</h3>
<hr>
<section class="timeline">
  <li>
    <div class="resumeDiv">
      <div class="resumeDivTime">
        Native Speaker
      </div>
      <div class="resumeDivDetail">
        English
      </div>
    </div>
  </li>
  <li>
    <div class="resumeDiv">
      <div class="resumeDivTime">
        Fluent
      </div>
      <div class="resumeDivDetail">
        Japanese
      </div>
    </div>
  </li>
  <li>
    <div class="resumeDiv">
      <div class="resumeDivTime">
        Basic
      </div>
      <div class="resumeDivDetail">
        French
      </div>
    </div>
  </li>
</section>
