---
layout: default
---

<h2>This is not an exhaustive list of projects I have done. But rather, the projects I am most satisfied with.</h2>

<div class="portfolioDiv">
  <div class="portfolioImage">
    <img src="/assets/imgs/MarkProfile.png">
  </div>
  <div class="portfolioDetail">
    <h2><b>2017: merwin4.github.io</b></h2>
    <p>I created this site which was a fun project itself. Through this, I learned how to use Jekyll which I like because it limits code reuse fairly well and once the pages are set up, its easy to create posts like in a blog format.</p>
  </div>
</div>

<div class="portfolioDiv">
  <div class="portfolioImage">
    <img src="https://raw.githubusercontent.com/open-xml-templating/docxtemplater/master/logo-small.png">
  </div>
  <div class="portfolioDetail">
    <h2><b>2017: CV Templater</b></h2>
    <p>As part of my job as a Knack Developer for Dartmouth Hitchcock Medical Center, I created a CV templating system leveraging existing JavaScript libraries. The idea is that if you make a template file in Microsoft Word so you only have to fret the details of the spacing one time, then all you have to do is plugin the values. I used the docxtemplater library in order to deal with plugging the values into the docx file. It's quite useful if you have a lot of users all using the same format and have a database full of their CV information.</p>
  </div>
</div>

<div class="portfolioDiv">
  <div class="portfolioImage">
    <img src="http://about.notist.io/img/colorways_notist_logo.png">
  </div>
  <div class="portfolioDetail">
    <h2><b>2017: Web Annotation Application</b></h2>
    <p>As my final capstone project, I worked on a team with 5 other people to create notist.io. You can read about the project on about.notist.io. It's designed to solve the recent problem of "fake news" by allowing users to annotate certain articles as they read and also see what other users of notist have said. It's a node web application as well as a chrome extension. The idea is that the users will be able to annotate the articles so that the user will see comments as they're reading. All too often people comment on a post by only reading the title or by not even reading it. Notist.io aims to solve that. My role on this team was front-end developer using React and Redux and I was responsible for linking the frontend with the backend, notifications, search, user profile and following pages, comment pages and more.</p>
  </div>
</div>

<div class="portfolioDiv">
  <div class="portfolioImage">
    <img src="/assets/imgs/coolScene.png">
  </div>
  <div class="portfolioDetail">
    <h2><b>2017: Path Tracer in C++</b></h2>
    <p>One of the coolest classes I have taken at Dartmouth was Rendering Algorithms. I made the image to the left by constructing the geometry in Maya. Downloading all of the respective .obj files of all the objects with their transformations frozen. Then, I read them in with an xml parser and assigned light properties to each material. Using path tracing in Nori I was able to produce this image. I used Snell's law to simulate how light refracts through glass and I was impressed with how realistic it looks. One problem with path tracing is that if a light is covered by a dielectric material then it tends to create noise unless I were to let it render for days or some other unfeasible amount of time. I could've avoided the noise by using a method like Photon Mapping which can handle these issues more robustly.</p>
  </div>
</div>

<div class="portfolioDiv">
  <div class="portfolioImage">
    <img src="https://upload.wikimedia.org/wikiversity/en/thumb/f/fb/High_level_architecture_of_a_Search_Engine.png/256px-High_level_architecture_of_a_Search_Engine.png">
  </div>
  <div class="portfolioDetail">
    <h2><b>2015: Tiny Search Engine in C</b></h2>
    <p>For my COSC 050 class at Dartmouth I built a search engine entirely in C that crawls webpages within a given domain, indexes them, and using an inverted index allows for pages to be found quickly. The query engine supports AND and OR operations seamlessly.</p>
  </div>
</div>
