---
layout: default
---

<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<h3>Hi Welcome to my blog section. Here, I will talk about things I'm interested in while also striving to provide information for those who also are interested in learning. This will be subject to lots of changes from now until maybe November as I figure out what I want to post. Thanks!</h3>
<ul>
  <li><a href="{{base}}/blog/personal" class="{% if page.url contains 'personal' %}current{% endif %}">Personal</a></li>
  <li><a href="{{base}}/blog/webgl" class="{% if page.url contains 'webgl' %}current{% endif %}">WebGL</a></li>
  <li><a href="{{base}}/blog/tutorials" class="{% if page.url contains 'tutorial' %}current{% endif %}">Tutorials</a></li>
</ul>

{{content}}

{% if page.comments %}
  {% include comments.html %}
{% endif %}
