<!-- Created by Mark Erwin 2017 -->
{% include base.html %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mark Erwin's Page</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="/assets/css/common.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114662883-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-114662883-1');
    </script>

    <!-- Favicon files generated courtesy of realfavicongenerator.net -->
    <!-- But I designed and made the favicon myself in GIMP which is cool -->

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon" >
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>
    <h1 id="siteTitle">Mark Erwin</h1>
    <hr>
    <header>
      {% include nav.html %}
    </header>
    {{content}}
  <footer>
    <p>© 2017 Mark's Site</p>
  </footer>
  </body>
</html>
